$primary-color: #dad294;

$primary-color-strong: #39372a;

$color-subtitle: #d3d3d3;

$color-title: #3dc229;

$price-pamonha: 6.99;
$price-curau: 8.99;
$price-canjica: 12.99;
$price-suco-de-milho: 7.99;
$price-bolo-de-milho: 5.99;
$price-cuscuz: 14.99;
