@import "base";
@import "extends";
@import "mixins";
@import "variables";

.home {
  .container {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg\ -\ section\ v3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    padding-top: 20px;
    position: relative;

    .whatsapp {
      width: 60px;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 1000;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .about {
      width: 30%;
      position: absolute;
      height: 300px;
      margin-top: -103px;
      top: 50%;
      h1 {
        color: $color-title;
        margin-bottom: 15px;
        font-size: 68px;
        padding: 0px 20px;
      }

      h2 {
        color: $color-subtitle;
        margin-bottom: 10px;
        font-size: 28px;
        font-style: italic;
        padding: 0px 20px;
        text-shadow: 1px 1px 5px $color-title;
      }
      p {
        color: white;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
      }
    }

    .navbar {
      .menu {
        @include reset-list();
        display: flex;
        width: 100%;
        justify-content: space-around;

        li {
          text-align: center;
        }

        li a {
          @include reset-anchor();
          margin-top: 30px;
          padding: 40px;
          font-size: 19px;
          color: $primary-color;
          font-weight: 700;
          &:hover {
            border-bottom: 1px solid white;
          }
        }

        .logo {
          width: 130px;
          height: 130px;
          margin-top: 10px;
          display: block;
          border-radius: 50%;
          box-shadow: 0 0 9px $primary-color;
        }
      }
    }
    .nav-submenu {
      display: block;
      display: none;
    }
  }
}

.services {
  width: 100%;
  background-color: $primary-color;
  padding-top: 20px;
  position: relative;
  padding-bottom: 20px;
  h2 {
    text-align: center;
    margin-top: 20px;
    color: $primary-color-strong;
  }
  p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .services-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    border: 4px solid $primary-color-strong;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: #f6f5cd;
    .service-images {
      width: 300px;
      img {
        display: block;
        margin-top: 30px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px $primary-color-strong;
      }
      p {
        margin: 10px 0 10px 0;
        text-align: center;
        width: 100%;
        color: $primary-color-strong;
        font-weight: 800;
        font-size: 20px;
      }
    }
  }
}

// media queries home

@media (min-width: 800px) and (max-width: 1228px) {
  .home {
    .container {
      .about {
        margin-top: -80px;
        h1 {
          font-size: 48px;
        }
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 17px;
        }
        margin-top: -110px;
        .navbar {
          .menu {
            li a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .services {
    .services-box {
      gap: 30px;
    }
  }
}

@media (min-width: 701px) and (max-width: 890px) {
  .home {
    .container {
      .about {
        width: 45%;
        border-radius: 20px;
        padding: 20px;
        height: 440px;
        margin-top: -180px;
        margin-left: -170px;
        top: 50%;
        left: 50%;
        h1 {
          font-size: 45px;
        }
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
          background-color: rgb(255 255 255 / 55%);
          color: #104f06;
          font-weight: 700;
        }
      }
      .navbar {
        .menu {
          li a {
            font-size: 15px;
            margin-top: 25px;
          }
          .logo {
            margin-top: 10px;
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .home {
    .container {
      .navbar {
        .menu {
          display: none;
          .logo {
            display: none;
          }
          li a {
            font-size: 14px;
            margin-top: 45px;
          }
          // justify-content: center;
        }
      }
      .about {
        height: 370px;
        margin-top: -185px;
        margin-left: -154px;
        top: 50%;
        left: 50%;
        width: 308px;
        h1 {
          margin-top: 40px;
        }
        p {
          font-size: 17px;
          background-color: rgb(255 255 255 / 55%);
          color: #104f06;
          font-weight: 700;
        }
      }
      .nav-submenu {
        display: block;
        li a {
          @include reset-anchor();
          display: block;
          color: $primary-color;
          font-size: 20px;
          font-weight: 800;
          margin-left: 35px;
        }
        .menu-oculto {
          width: 20%;
          li {
            position: relative;
            a {
              padding: 20px;
              margin: 0;
            }
          }
          .submenu {
            display: none;
            position: absolute;
            z-index: 1000;
            top: 80%;
            left: 3%;
            background-color: white;
            border-radius: 14px;
            /* text-align: center; */
            padding: 10px 26px;
            a {
              color: #9c9776;
              font-weight: 500;
              &:hover {
                border-bottom: 3px solid $primary-color;
              }
            }
          }
          li {
            @include reset-anchor();
            &:hover {
              .submenu {
                display: block;
                z-index: 1000;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 499px) {
  .home {
    .container {
      .navbar {
        .menu {
          display: none;
          .logo {
            display: none;
          }
          li a {
            font-size: 14px;
            margin-top: 45px;
          }
          // justify-content: center;
        }
      }
      .about {
        height: 370px;
        margin-top: -185px;
        margin-left: -154px;
        top: 50%;
        left: 50%;
        width: 308px;
        h1 {
          margin-top: 40px;
          font-size: 58px;
        }
        p {
          font-size: 15px;
          background-color: rgb(255 255 255 / 55%);
          color: #104f06;
          font-weight: 700;
        }
      }
      .nav-submenu {
        display: block;
        li a {
          @include reset-anchor();
          display: block;
          color: $primary-color;
          font-size: 20px;
          font-weight: 800;
          margin-left: 35px;
        }
        .menu-oculto {
          li {
            position: relative;
            a {
              padding: 20px;
              margin: 0;
            }
          }
          .submenu {
            display: none;
            position: absolute;
            top: 80%;
            left: 3%;
            background-color: white;
            border-radius: 14px;
            /* text-align: center; */
            padding: 10px 26px;
            a {
              color: #9c9776;
              font-weight: 500;
              border-bottom: 1px solid $primary-color;
              &:hover {
                border-bottom: 3px solid $primary-color;
              }
            }
          }
          li {
            @include reset-anchor();
            &:hover {
              .submenu {
                display: block;
                z-index: 1000;
              }
            }
          }
        }
      }
    }
  }
}
